.landing-page-child,
.landing-page-item {
  position: absolute;
  top: 0;
  left: -12px;
  width: 150%;
  height: 75px;
  background: linear-gradient(to right, rgba(177, 194, 67, 0.925),rgba(14, 108, 155, 0.534));
}


.landing-page-item {
  top: 75px;
  left: -39px;
  border-radius: var(--br-3xs);
  width: 97px;
  height: 100vh;
  background: linear-gradient(to right, rgba(194, 67, 67, 0.366),rgba(2, 39, 57, 0.534));
}
.landing-page-inner {
  position: absolute;
  top: 126px;
  left: 0;
  background: linear-gradient(89.9deg, #12e5e5, #98bcfd);
  width: 1440px;
  height: 190px;
  display: none;
}
.dash-board {
  position: absolute;
  top: 156px;
  left: 58px;
  border-radius: 20px 0px 0px 0px;
  background: linear-gradient(to right, rgba(67, 194, 194, 0.378),rgb(11, 163, 234));
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100vh;
}
.workiy-logo-blue-2-1 {
  position: absolute;
  top: 5px;
  left: 35px;
  width: 168px;
  height: 63px;
  object-fit: cover;
}

.day-in-button {
  position: absolute;
  top: 143px;
  left: 1210px;
  border-radius: 7px;
  background: linear-gradient(to right,rgba(194, 246, 4, 0.968), rgb(87, 255, 3));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 33px;
}
.notification-icone {
  position: absolute;
  top: 100px;
  left: -52px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.notification-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 45px;
  left: 1360px;
  width: 30px;
  height: 30px;
}
.rectangle-div {
  position: absolute;
  top: 126px;
  left: 58px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  background: linear-gradient(to right,rgba(194, 246, 4, 0.926), rgba(9, 40, 64, 0.833));
  width: 100%;
  height: 65px;
}
.full-screen-icon {
  position: absolute;
    top: -5px;
    left: -100px;
    width: 22px;
    height: 22px;
    object-fit: cover;
}
.full-screen-button,
.reload-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 152px;
  left: 1575px;
  width: 32px;
  height: 32px;
}
.reload-button {
  left: 1525px;
}
.calls-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs) 0 0 0;
  background-color: #00aef8;
  width: 175px;
  height: 65.02px;
}
.ringer-volume-icon {
  position: absolute;
  top: 20.32px;
  left: 37.16px;
  width: 13.87%;
  height: 27.63px;
  object-fit: cover;
}
.calls {
  position: absolute;
  top: 22.76px;
  left: 83.9px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 59.93px;
  height: 21.13px;
}
.calls-button,
.leads-button-child {
  position: absolute;
  width: 175px;
  height: 65.02px;
}
.calls-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 126px;
  left: 58px;
}
.leads-button-child {
  top: 0;
  left: 0;
  background-color: var(--color-gray);
}
.leads {
  position: absolute;
  top: 22.76px;
  left: 79.11px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 71.92px;
  height: 21.13px;
}
.contact-icon {
  position: absolute;
  top: 19.51px;
  left: 21.58px;
   width: 13.87%;
  height: 27.63px;
  object-fit: cover;
  opacity: 0.5;
}
.leads-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 126px;
  left: 231.8px;
  width: 175px;
  height: 65.02px;
}
.genaral {
  position: absolute;
  top: 22.76px;
  left: 64.73px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 92.29px;
  height: 21.13px;
}
.full-screen-icon1 {
  position: absolute;
  top: 19.51px;
  left: 11.99px;
  width: 13.87%;
  height: 27.63px;
  object-fit: cover;
  opacity: 0.5;
}
.genaral-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 126px;
  left: 405.6px;
  width: 175px;
  height: 65.02px;
}
.edit-image-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image {
  position: absolute;
  top: 700px;
  left: 1450px;
  width: 33px;
  height: 33px;
}
.landing-page-child1 {
  position: absolute;
  top: -938px;
  left: 525px;
  border-radius: 20px;
  background-color: rgba(18, 229, 229, 0.75);
  width: 200px;
  height: 80px;
}
.calls1 {
  position: absolute;
  top: -912px;
  left: 625px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  color: var(--color-black);
}
.calls2,
.enquiry {
  position: absolute;
  height: 5.79%;
  width: 86.67%;
  top: 18.57%;
  right: 6.67%;
  bottom: 75.63%;
  left: 6.67%;
}
.enquiry {
  height: 7.13%;
  width: 100%;
  top: 37.15%;
  right: 0;
  bottom: 55.72%;
  left: 0;
}
.lead,
.report,
.setting {
  position: absolute;
  height: 5.79%;
  width: 86.67%;
  top: 57.06%;
  right: 6.67%;
  bottom: 37.15%;
  left: 6.67%;
}
.report,
.setting {
  top: 75.63%;
  bottom: 18.57%;
}
.setting {
  top: 94.21%;
  bottom: 0;
}
.component-2 {
  position: absolute;
  top: 150px;
  left: 10px;
  width: 32px;
  height: 478px;
  mix-blend-mode: normal;
}
.home-icone {
  position: absolute;
  height: 46.17%;
  width: 13.87%;
  top: 28.33%;
  right: 74.63%;
  bottom: 25.5%;
  left: 11.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.all-call-child,
.dash-board-button {
  position: absolute;
  top: 126px;
  left: -8px;
  width: 200px;
  height: 60px;
  
}
.all-call-child {
  top: 0;
  left: 0;
  border-radius: 20px 0px 20px;
  background: linear-gradient(to right,rgba(246, 190, 4, 0.673), rgba(54, 146, 217, 0.284));
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
  width: 229.22px;
  height: 104.81px;
}
.all-calls,
.b {
  position: absolute;
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
}
.b {
  top: 57.94px;
  left: 63.06px;
  font-size: var(--font-size-6xl);
  width: 74.13px;
  height: 29.82px;
}
.all-calls {
  top: 11.66px;
  left: 38.37px;
  font-size: 15px;
  width: 111.39px;
  height: 24.97px;
}
.phone-icon {
  position: absolute;
  top: 43.46px;
  left: 172.98px;
  width: 34.94px;
  height: 34.94px;
  object-fit: cover;
}
.all-call {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 229.22px;
  height: 104.81px;
  z-index: 0;
}
.total-answer-calls-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0px 20px ;
  background: linear-gradient(to right,rgba(246, 190, 4, 0.673), rgba(54, 146, 217, 0.284));
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  width: 229.22px;
  height: 104.81px;
}
.b1,
.total-answered-calls {
  position: absolute;
  top: 57.94px;
  left: 71.58px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  width: 74.13px;
  height: 29.82px;
}
.total-answered-calls {
  top: 13px;
  left: 27.78px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  width: 201px;
  height: 44px;
}
.call-female-icon {
  position: absolute;
  top: 40.9px;
  left: 170.42px;
  width: 39.2px;
  height: 39.2px;
  object-fit: cover;
}
.total-answer-calls {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 229.22px;
  height: 104.81px;
  z-index: 1;
}
.total-incoming-calls-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0px 20px ;
  background: linear-gradient(to right,rgba(246, 190, 4, 0.673), rgba(54, 146, 217, 0.284));
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  width: 229.22px;
  height: 104.81px;
}
.b2,
.total-incomingcalls {
  position: absolute;
  top: 57.94px;
  left: 73.28px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  width: 58.8px;
  height: 29.82px;
}
.total-incomingcalls {
  top: 14px;
  left: 28.56px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  width: 182px;
  height: 49px;
}
.ringer-volume-icon2 {
  position: absolute;
  top: 40.05px;
  left: 172.13px;
  width: 38.35px;
  height: 38.35px;
  object-fit: cover;
}
.total-incoming-calls {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 229.22px;
  height: 104.81px;
  z-index: 2;
}
.total-missed-calls-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0px 20px ;
  background: linear-gradient(to right,rgba(246, 190, 4, 0.673), rgba(54, 146, 217, 0.284));
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  width: 229.22px;
  height: 104.81px;
}
.b3,
.total-missed-calls1 {
  position: absolute;
  top: 51.98px;
  left: 65.61px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  width: 58.8px;
  height: 29.82px;
}
.total-missed-calls1 {
  top: 18.75px;
  left: 22.16px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  width: 175.54px;
  height: 24.71px;
}
.missed-call-icon {
  position: absolute;
  top: 46.01px;
  left: 164.46px;
  width: 34.94px;
  height: 34.94px;
  object-fit: cover;
}
.total-missed-calls {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 229.22px;
  height: 104.81px;
  z-index: 3;
}
.today-calls-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0px 20px ;
  background: linear-gradient(to right,rgba(246, 190, 4, 0.673), rgba(54, 146, 217, 0.284));
  width: 229.22px;
  height: 104.81px;
}
.b4,
.today-calls1 {
  position: absolute;
  top: 57.94px;
  left: 63.06px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  width: 44.31px;
  height: 29.82px;
}
.today-calls1 {
  top: 11.93px;
  left: 38.35px;
  font-size: var(--font-size-lg);
  width: 110.78px;
  height: 24.71px;
}
.today-calls {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 229.22px;
  height: 104.81px;
  z-index: 4;
}
.today-answer-calls-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0px 20px ;
  background: linear-gradient(to right,rgba(246, 190, 4, 0.673), rgba(54, 146, 217, 0.284));
  width: 229.22px;
  height: 104.81px;
}
.b5,
.today-answered-calls {
  position: absolute;
  top: 57.94px;
  left: 71.58px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  width: 29.82px;
  height: 29.82px;
}
.today-answered-calls {
  top: 14.19px;
  left: 22.78px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  width: 206px;
  height: 49px;
}
.call-female-icon1 {
  position: absolute;
  top: 34.08px;
  left: 170.42px;
  width: 39.2px;
  height: 39.2px;
  object-fit: cover;
}
.today-answer-calls {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 229.22px;
  height: 104.81px;
  z-index: 5;
}
.today-incoming-calls-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 0px 20px ;
  background: linear-gradient(to right,rgba(246, 190, 4, 0.673), rgba(54, 146, 217, 0.284));
  width: 229.22px;
  height: 104.81px;
}
.b6 {
  position: absolute;
  top: 57.94px;
  left: 73.28px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  width: 29.82px;
  height: 29.82px;
}
.today-incoming {
  margin: 0;
}
.today-incoming-calls-container {
  position: absolute;
  top: 13.63px;
  left: 28.97px;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 152.53px;
  height: 49.42px;
}
.ringer-volume-icon3 {
  position: absolute;
  top: 43.46px;
  left: 172.13px;
  width: 38.35px;
  height: 38.35px;
  object-fit: cover;
}
.today-incoming-calls {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 229.22px;
  height: 104.81px;
  z-index: 6;
}
.today-missed-calls-child {
  position: absolute;
  top: -94px;
  left: -495px;
  border-radius: 20px 0px 20px;
  background: linear-gradient(to right,rgba(246, 190, 4, 0.673), rgba(54, 146, 217, 0.284));
  width: 229.87px;
  height: 105.01px;
  
}
.b7 {
  position: absolute;
  top: -37.18px;
  left: -419.49px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: left;
  width: 57.62px;
  height: 31.28px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.missed-call-icon1 {
  position: absolute;
  top: -58.59px;
  left: -321.48px;
  width: 34.93px;
  height: 40.65px;
  object-fit: cover;
}

.todayl-missed-calls {
  position: absolute;
  top: -77px;
  left: -467.76px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
  width: 169.37px;
  height: 25.51px;
}
.today-missed-calls {
  cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    position: absolute;
    margin: 0 !important;
    top: 222.96px;
    left: 990px;
    width: 229.87px;
    height: 105.01px;
    z-index: 7;
}
.all-call-parent {
  position: relative;
  top: 250px;
  left: 5%;
  width: 1223px;
  height: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: first baseline;
  justify-content: flex-start;
  gap: 18px;
}

.circled-menu-icon {
  position: absolute;
  top: 0;
  left: 38px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 25px;
  height: 25px;
}
.full-screen-icon2 {
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  object-fit: cover;
  left: 12px;
}
.full-screen-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 17px;
  height: 17px;
}
.google-web-search {
  position: relative;
  width: 35px;
  height: 35px;
  top: 122px;
  object-fit: cover;
  left: 915px;
}
.group-parent {
  position: absolute;
  top: 22px;
  left: 270px;
  width: 192px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 90px;
}
.profile-button-child {
  position: relative;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  object-fit: cover;
  top: -12px;
  left: -1200px;
}
.profile-button {
  position: absolute;
  top: 26px;
  left: 1425px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.landing-page {
  position: relative;
  background-color: #d9d9d9;
  width: 100%;
  height: 818px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: var(--color-white);
  font-family: var(--font-roboto);
}

