/* CSS (SplitPage.css) */
.split-page {
    display: flex;
    height: 100vh;
}

.left-side,
.right-side {
    /* flex: 1; */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.left-side {
    background-color: #f4f4f4;
    width: 35%;
}

.right-side {
    background-color: #fff;
    width: 65%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.MuiDataGrid-footerContainer{
    display: none !important;
}