::-webkit-scrollbar {
    width: 8px;
    height: 8px;
     /* Width of the scrollbar */
  }
  .sidemenu-profile-container::-webkit-scrollbar {
    width: 5px !important;
  }
  ::-webkit-scrollbar-track {
    background: #B9B9B9; /* Background color of the track */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #717171; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
   /* Padding around the thumb */
  }
  .side-bar-name {
    background-color: blue;
    margin: 0;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Added for better text visibility against blue background */
}

.side-bar-text {
    font-family: 'Arial', sans-serif; /* Example font family */
    font-size: 20px; /* Example font size in points */

}

.sidemenu-scrollable-container {
  background-color: #262626;
  
}

.sidemenu-profile-container {
  text-align: center;
  margin: auto;
  overflow-y: auto;
  margin-top: 30px;
  max-height: 70vh;
  overflow-x: hidden;
  padding: 3%;
  margin-top: 50px;


}

.sidemenu-menu-item-horizontal {
  display: flex;
  /* text-align: center; */
  /* z-index: 3; */
  /* gap: 50px; */
  margin-top: 20px;
  position: relative;
  transition: transform 0.3s ease;
  padding: 2px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}
.sidemenu-menu-item-vertical{
  display: block;
  margin: 15px auto;
}
.sidemenu-menu-item-vertical p{
  margin: auto !important;
}

.sidemenu-menu-item:hover {
  transform: scale(1.1);
  font-size: 10px;
}
.sidemenu-menu-item-popup:hover{
  background-color: black !important;
  color: white !important;
}
.sidemenu-menu-item-popup:hover img{
  filter: brightness(0) invert(1) !important;
}

.sidemenu-menu-item-selected {
  background-color: #F5BD71;
  transform: scale(1.1);
  margin: 8px;
  padding: 5px;
}
.sidemenu-menu-item-selected.sidemenu-menu-item-vertical {
  margin: 10px;
  padding:10px 5px;
  border-radius: 10px;
}

.sidemenu-menu-item-selected p{
  color: #121A2C !important;  
  font-weight: bold;
}
.sidemenu-menu-item-selected img{ 
  filter: brightness(0) invert(0);
}

/* .sidemenu-avatar {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
  border-radius: 0;
  margin: 10px auto;
} */

.sidemenu-typography {
  font-size: 10px !important;
  color: white;
  transition: color 0.3s ease;
  /* display: flex; */
  /* align-items: center; */
  margin-left: 10px !important;
  width: max-content;
  margin: 5px 0 auto 10px !important;
}
.expand-button {
  background: #808080;
  border: none;
  z-index: 1;
  padding: 35px 3px 50px 7px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  height: 20px;
  margin: 200px -30px 15px auto;
  position: absolute;
  
}
.sidemenu-scrollable-container .expand-button {
  display: none; /* This hides the image inside the button */
}
.sidemenu-scrollable-container:hover .expand-button {
  display: block;
transition: display 2s ease; /* Image is shown when hovered */
}
