::-webkit-scrollbar {
    width: 2px;
    height: 2px;
     /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #0d2d4e; /* Background color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #fff; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
   /* Padding around the thumb */
  }
  .side-bar-name {
    background-color: blue;
    margin: 0;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Added for better text visibility against blue background */
}

.side-bar-text {
    font-family: 'Arial', sans-serif; /* Example font family */
    font-size: 20px; /* Example font size in points */

}

.sidemenu-scrollable-container {
  background-color: #0d2d4e;
}

.sidemenu-profile-container {
  width: fit-content;
  text-align: center;
  margin: auto;
  overflow-y: auto;
  max-height: 70vh;
  overflow-x: hidden;
}

.sidemenu-menu-item {
  display: block;
  text-align: center;
  z-index: 3;
  gap: 50px;
  margin-top: 20px;
  position: relative;
  transition: transform 0.3s ease;
  padding: 2px;
  border-radius: 5px;
}

.sidemenu-menu-item:hover {
  transform: scale(1.1);
  font-size: 10px;
}

.sidemenu-menu-item-selected {
  background-color: #ff3f14;
  transform: scale(1.1);
}

/* .sidemenu-avatar {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
  border-radius: 0;
  margin: 10px auto;
} */

.sidemenu-typography {
  font-size: 10px !important;
  color: white;
  transition: color 0.3s ease;
}
