/* .sidemenu-scrollable-container {
    background-color: #0d2d4e;
  }
  
  .sidemenu-profile-container {
    width: fit-content;
    text-align: center;
    margin: auto;
    overflow-y: auto;
    max-height: 70vh;
    overflow-x: hidden;
  }
  
  .sidemenu-menu-item {
    display: block;
    text-align: center;
    z-index: 3;
    gap: 50px;
    margin-top: 20px;
    position: relative;
    transition: transform 0.3s ease;
    padding: 2px;
    border-radius: 5px;
  }
  
  .sidemenu-menu-item:hover {
    transform: scale(1.1);
    font-size: 10px;
  }
  
  .sidemenu-menu-item-selected {
    background-color: #ff3f14;
    transform: scale(1.1);
  }
  
  .sidemenu-avatar {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 0;
    margin: 10px auto;
  }
  
  .sidemenu-typography {
    font-size: 10px !important;
    color: white;
    transition: color 0.3s ease;
  } */
  
  .items.dragging{
    opacity: 0.5;
  }